.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 12, 0.3);
    box-sizing: border-box;

    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__notification {
    position: absolute;
    left: 18px;
    top: -20px;
}
.nav__dot {
    color: tomato;
    position: absolute;
    left: 30px;
    top: -33px;
    font-size: 30px;
    font-weight: 600;
}
